{% extends 'base2.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h3> Letter to Customer :</h3><br>
<p> Hi, <br><br>Welcome to <b>All-in-One</b> website , your number one source for all things for example clothing, fashion, house decor and many more.<br><br>
    We're dedicated to giving you the very best of clothing, fashion, house decor and many more, with a focus on
    dependability, customer service and uniqueness.<br>
    Founded in 2020 by <b>Aishwarya Sontake</b>, <b>Saurabh Shukla</b>, All-in-One store name has come a long way from its beginnings in a
     home office, Harrisburg, PA. When <b>Aishwarya Sontake</b>, <b>Saurabh Shukla</b> first started out, their passion for helping customer to
    use more eco-friendly, providing the best product drove him to  do intense research and quit her day job, and gave him
    the impetus to turn hard work and inspiration into to a booming online store. <br>We now serve customers all over the US,
    the world and are thrilled to be a part of the eco-friendly and fair trade wing of the  fashion, clothing, House decor, watches industry.<br><br>
We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
    <br><br><br><br>

Sincerely,<br><br>
<b>Aishwarya Sontake</b><br> <b>Saurabh Shukla</b>
</p>
<br><br>
<p>你好,<br><br>
歡迎使用“多合一”網站，您的衣服，衣服，時裝，房屋裝飾等所有物品的第一來源。

我們致力於為您提供最好的服裝，時裝，房屋裝飾等，重點是可靠性，客戶服務和獨特性。
    多合一商店的名稱由 <b>Aishwarya Sontake</b>於2020年由 <b> Saurabh Shukla創立 </b>，在賓夕法尼亞州哈里斯堡的一家家庭辦公室中，
    已經有了很長的路要走。當剛開始工作時，他們熱衷於幫助客戶使用更環保的產品，提供最佳產品，
    這促使他進行了深入的研究並辭去了日常工作，並給了他動力，將辛勤工作和靈感轉化為到蓬勃發展的在線商店。
現在，我們為美國和世界各地的客戶提供服務，我們很高興成為時尚，服裝，房屋裝飾，鐘錶行業的環保，公平貿易分支的一部分。

我們希望您喜歡我們的產品，也喜歡我們向您提供的產品。如果您有任何疑問或意見，請隨時與我們聯繫。<br> 在賓夕法尼亞州哈里斯堡的一家家庭辦公室中，
    已經有了很長的路要走。<b>Aishwarya Sontake</b>於2020年由 <b> Saurabh Shukla創立 </b>，他們熱衷於幫助客戶使用更環保的產品，提供最佳產品，
    這促使他進行了深入的研究並辭去了日常工作，並給了他動力，將辛勤工作和靈感轉化為到蓬勃發展的在線商店。
現在，我們為美國和世界各地的客戶提供服務，我們很高興成為時尚，服裝，房屋裝飾，鐘錶行業的環保，公平貿易分支的一部分。

我們希望您喜歡我們的產品，也喜歡我們向您提供的產品。如果您有任何疑問或意見，請隨時與我們聯繫。<br> 在賓夕法尼亞州哈里斯堡的一家家庭辦公室中，
    已經有了很長的路要走。，他們熱衷於幫助客戶使用更環保的產品，提供最佳產品，
    這促使他進行了深入的研究並辭去了日常工作，並給了他動力，將辛勤工作和靈感轉化為到蓬勃發展的在線商店。
現在，我們為美國和世界各地的客戶提供服務，我們很高興成為時尚，服裝，房屋裝飾，鐘錶行業的環保，公平貿易分支的一部分。

我們希望您喜歡我們的產品，也喜歡我們向您提供的產品。如果您有任何疑問或意見，請隨時與我們聯繫。 <br><br><br><br>

    真誠的<br><br>
    艾西瓦婭·桑塔克（<b>Aishwarya Sontake</b>）<br>
    索拉·舒克拉（<b>Saurabh Shukla</b>）




</p>

{% endblock %}