{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}


    <div class="container">
            <div class="jumbotron">
        <h1>E-commerce website</h1>
        <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
            <input type="text" placeholder="userId" name="user_id" value="{{
          request.form.user_id }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Sign-up">
      </form>
      </div>



    </div>
{% endblock %}